# Database settings
DATABASE_URL=""

# Authentication settings
APP_URL=""
ADMIN_KEY=""

# Discord OAuth settings
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# GitHub OAuth settings
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Stripe settings
STRIPE_SECRET=""
STRIPE_WEBHOOK_SECRET=""

# Mail settings
RESEND_KEY=""

# ImageCDN Settings
NEXT_PUBLIC_IMAGECDN_URL=""
IMAGECDN_SECRET=""