@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-container {
    @apply fixed top-0 left-0 w-full h-full bg-black/50 flex justify-center items-center;
  }

  .modal {
    @apply bg-background-secondary rounded-lg p-4 mx-auto min-w-[25rem];
  }

  .modal-close {
    @apply hidden;
  }

  .switch {
    @apply relative inline-block w-[60px] h-[34px];
  }

  .switch input {
    @apply opacity-0 w-0 h-0;
  }

  .slider {
    @apply absolute cursor-pointer bg-gradient transition-[0.4s] inset-0 before:absolute before:content-[""] before:h-[26px] before:w-[26px] before:bg-[white] before:transition-[0.4s] before:left-1 before:bottom-1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    @apply bg-gradient before:translate-x-[26px];
  }

  input:focus + .slider {
    @apply shadow-[0_0_1px_#2196F3];
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    @apply rounded-[34px] before:rounded-[50%];
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-secondary;
  }

  .text-gradient {
    @apply bg-gradient text-transparent bg-clip-text;
  }
}

a {
  @apply text-secondary;
}
